.host {
    display: flex;
    align-items: center;
    gap: 23px;
    &__name {
        color: $main-color;
        font-size: $sub-text;
        width: 50px;
    }
}

.host__photo {
    width: 64px;
    border-radius: 100%;
    img {
        width: 100%;
        border-radius: inherit;
    }
}

@media (max-width: 767.98px) {
    .host {
        gap: 0;
        .host__name {
            font-size: $resp-subtext;
        }
        .host__photo {
            width: 32px;
        }
    }
}