.fl__text {
    color: $main-color;
    .fl__title {
        font-family: $font1-light;
        font-size: $subtitle;
    }
    .fl__localisation {
        font-family: $font1-light;
        font-size: $sub-text;
    }
}

@media (max-width: 767.98px) {
    .fl__text {
        gap: 5px;
        .fl__title {
            font-size: $resp-subtitle;
            margin-bottom: 5px;
        }
        .fl__localisation {
            font-size: $resp-subtext;
        }
    }

}