.text-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-color;
}

.text-error {
    &__title {
        font-size: $error-title;
    }
    &__subtitle {
        font-size: $subtitle;
        margin-top: 66px;

    }
}

.link-homepage {
    margin: 150px 0;
    font-size: $sub-text;
    &:visited {
        color: $main-color;
    }
}

@media (max-width: 767.98px) {
    .text-error {
        &__title {
            font-size: $resp-error-title;
            margin-top:150px;
        }
        &__subtitle {
            font-size: $resp-subtitle;
            margin-top: 11px;
            width: 200px;
            line-height: 25px;
            text-align: center;
        }
    }

}

